<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>ReactorCraft Simulator</title>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74076320-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="javascript/html5shiv.min.js"></script>
    <script src="javascript/respond.min.js"></script>
    <![endif]-->
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/app.js"></script>
    <script src="javascript/emulator.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascript/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascript/bootstrap.min.js"></script>
</head>
<body ng-controller="mainController as mc" role="document" style="cursor:default;padding-top: 100px">

<nav class="nav navbar-inverse navbar-fixed-top navadd unselectable">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" ng-click="mc.cappcount=mc.cappcount+1"><img src="img/capplogo.png" ng-show="mc.cappcount>10" align="left" style="padding-right: 10px">ReactorCraft Fission Reactor Simulator</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/lieronet/ReactorCraftSimulator">Github</a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="container" role="main">
    <aside class="col-md-2">
        <p style="text-align: left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget convallis tortor. Pellentesque convallis purus sit amet odio gravida aliquam. Donec in urna congue, finibus augue et, euismod felis. Integer posuere tempus mauris, eget lacinia neque consectetur eu. Nullam ullamcorper ex quis auctor tristique. Ut in turpis enim. Nulla pulvinar pretium urna, eu porttitor augue ultrices ut.

Nunc efficitur massa non nisl iaculis posuere. Aliquam varius tortor ac augue rhoncus, at mattis est tincidunt. Pellentesque non sapien mattis, condimentum orci quis, feugiat tortor. Pellentesque luctus sem quam, non tincidunt enim aliquam id. Donec blandit dapibus dolor. Maecenas tempus at turpis eu sagittis. Sed vitae orci quis eros commodo posuere. Sed tincidunt id urna ut dignissim. Pellentesque eleifend a felis at porttitor. Maecenas auctor, nisl ut maximus lacinia, dolor libero pretium ex, sit amet gravida tellus odio ut nisl. Suspendisse accumsan diam pretium, auctor lorem non, vestibulum ante. Donec sit amet mattis ex. Nullam dictum posuere enim a porta. Etiam fringilla pulvinar neque eu vulputate.

Integer et ligula sapien. Vestibulum efficitur dui et purus placerat ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam neque, auctor nec risus ac, congue tristique nisl. Maecenas fringilla maximus ante elementum condimentum. Maecenas ac porta ante. Curabitur fermentum lectus vitae dui sollicitudin dapibus. Duis nec erat non enim bibendum condimentum. Integer nibh odio, consequat vitae magna a, volutpat lacinia sapien. Nulla consequat malesuada leo. Vivamus sagittis metus est, vitae feugiat enim varius vel. Suspendisse potenti. Cras in purus in lectus egestas auctor.

Pellentesque quis lectus quis enim rhoncus blandit. Aliquam vestibulum at eros eu faucibus. Donec mollis mauris est, nec consequat quam pretium sit amet. Nullam maximus ante sed mauris tristique elementum. Vivamus euismod a turpis in efficitur. Sed ac fermentum enim. Donec ac magna id dui lobortis sollicitudin non a lacus. Aenean hendrerit vestibulum tempor. Nunc in lacinia tellus. Nullam pretium erat non lorem mollis venenatis. Aliquam sodales velit eu ante vehicula, eu lacinia tellus vehicula. Nullam bibendum finibus dictum. Maecenas non consectetur neque. Vivamus venenatis sollicitudin enim quis viverra.

Nam quis lobortis quam, sed venenatis augue. Etiam mauris purus, aliquet tincidunt blandit eget, sagittis imperdiet mi. Fusce tincidunt ipsum nisi, sit amet fermentum libero fermentum eu. Etiam efficitur turpis tristique, finibus sem vitae, mattis sem. Etiam in lorem vel massa tincidunt lobortis nec nec ipsum. Pellentesque congue urna lacus, eget dictum mauris imperdiet ut. Fusce at lorem risus. Nam non arcu fringilla, dapibus dui eget, sollicitudin nulla. Nullam tristique accumsan accumsan. Morbi quis lacus libero. Nulla tempus feugiat laoreet. Pellentesque dolor velit, facilisis at aliquam et, pulvinar vitae eros. Etiam et arcu malesuada, euismod nisl nec, pellentesque enim. Vivamus nunc turpis, tincidunt eget consequat vel, scelerisque ornare eros. Etiam lobortis egestas ipsum quis molestie.
        </p>
    </aside>
    <main class="col-md-7 unselectable" id="tableContainer">
        <div align="center">
            <table border="1" ng-mouseleave="mc.mdown=false">
                <tr ng-repeat="x in mc.getRangeArray(mc.col)">
                    <td ng-repeat="y in mc.getRangeArray(mc.row)">
                        <div ng-style="mc.getCellStyle(x,y)">
                            <img class="img-responsive" style="opacity: 0.7" ng-src="{{mc.data[x][y]==null?'img/blank.png':mc.blockImg[mc.data[x][y]]}}" draggable="false" ng-mousedown="mc.mousemoveHandler(1,x,y)" ng-mousemove="mc.mousemoveHandler(0,x,y)" ng-mouseup="mc.mousemoveHandler(-1,x,y)" ng-click="mc.mousemoveHandler(-1,x,y)">
                        </div>
                    </td>
                </tr>
            </table>


        </div>
    </main>

    <aside class="col-md-3">
        <h4>Block List:</h4>

        <ul class="nav nav-pills unselectable" role="tablist">
            <li role="presentation" ng-repeat="i in mc.getRangeArray(mc.blockNames.length)" ng-click="mc.chosen=i" ng-class="{'active':mc.chosen==i}"><a ng-bind="mc.blockNames[i]"></a></li>
        </ul>
        <br>


        <p style="text-align: center">
            Scale:
            <input ng-model="mc.col" style="width: 30px;text-align: center;">
            <button ng-click="mc.col=mc.inc(mc.col)">+</button>
            <button ng-click="mc.col=mc.dec(mc.col)">-</button>
            &nbsp;&nbsp;x&nbsp;&nbsp;

            <input ng-model="mc.row" style="width: 30px;text-align: center;">
            <button ng-click="mc.row=mc.inc(mc.row)">+</button>
            <button ng-click="mc.row=mc.dec(mc.row)">-</button>
        </p>
        <br>
        <p style="text-align: center">
            HTGR Depth:
            <input ng-model="mc.depth" style"width: 30px;text-align: center;">
            <button ng-click="mc.depth=mc.inc(mc.depth)">+</button>
            <button ng-click="mc.depth=mc.dec(mc.depth)">-</button>
        </p>
        <br>
        <p align="center">
            <button ng-click="mc.clearData()" style="width: 100px; height: 30px">Clear</button>
        </p>

        <h4>Fuel Type:</h4>
        <ul class="nav nav-pills unselectable" role="tablist">
            <li role="presentation" ng-click="mc.fuelType=0" ng-class="{'active':mc.fuelType==0}"><a>Uranium</a></li>
            <li role="presentation" ng-click="mc.fuelType=1" ng-class="{'active':mc.fuelType==1}"><a>Plutonium</a></li>
        </ul>
        <br>
        <p align="center">Ambient Temperature:<input ng-model="mc.ambientTemp" style="width: 50px;text-align: center;"></p>
        <br>
        <p align="center">Share Link:<input ng-model="'http://lieronet.github.io/ReactorCraftSimulator/?data='+mc.encodeData(mc.data,mc.col,mc.row,mc.fuelType,mc.cappcount>10,mc.ambientTemp)"></p>
        <br>
        <p align="center">
            Time:&nbsp;<input ng-model="mc.maxtime" style="width: 100px;text-align: center;">&nbsp;&nbsp;&nbsp;Refresh rate:&nbsp;<input ng-model="mc.refreshRate" style="width: 100px;text-align: center;">
        </p>
        <p align="center">
            <button ng-click="mc.emulate()" style="width: 100px; height: 30px">Let's Rock!</button>
            <button ng-click="mc.stopNow=true" style="width: 100px; height: 30px">It's Over!</button>
        </p>
        <div>
            <p ng-bind-html="outputFieldSafe"></p>
        </div>

    </aside>



</div>
</body>

</html>
